@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

@import url("fonts.css"); 

@import url("reset.css");

body {
   font-family:"Roboto";
   font-weight: 500;
   font-size: 18px;
       color: #0d1216;
}

.title {
    font-family:"Seaweed Script", serif;
    font-style: oblique;
    font-weight: 300;
    font-size: 50px;
}

.title {
    color: rgba(21, 23, 19, 0.1);
}

.list {
    color: blue;
}

.text1 {
    color: blueviolet;
}

.text2 {
    color: aqua;
}

.text {
text-align: center;
}

.title {
    text-decoration: underline;
}

.title {
    text-shadow: -10px 10px 15px aqua;
}

.title {
    text-transform: uppercase;
}

.text {
    line-height: 1.85714286; /* 26/14 */
}

.title {
    letter-spacing: 12px;
}

.text {
    white-space: normal;
}

.title-bad {
font-family: "Proximanova", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.title-bad {
    color: #2b2929;
}

.title-bad {
    text-align: center;
}

.title-bad{
     line-height: 1.2; /* 48/40 */
}

.title-bad{
    letter-spacing: 0;
}

.text3 {
font-family: "Proximanova",sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #2b2929;
    line-height: 1.875; /* 30/16 */
    letter-spacing: 0;
    text-transform: none;
}

.text4 {
    font-family: "Proximanova", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.text4 {
    color: rgb(43, 41, 41, 0.2);
    line-height: 1.875;/* 30/16 */
    letter-spacing: 0;
    text-transform: none;
}

.title-room {
    font-family: "Proximanova", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.title-room {
    color: #2b2929;
    text-transform: none;
    line-height: 1.2; /* 48/40 */
    letter-spacing: 0;
}

.text5 {
    font-family: "Proximanova", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.text5 {
    color: #2b2929;
    line-height: 1.875; /* 30/16 */
    letter-spacing: 0;
    text-transform: none;
}

.text6 {
    font-family: "Proximanova", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

.text6 {
    color: #2b2929;
    line-height: 1.40; /* 28/20 */
    letter-spacing: 0;
    text-transform: none;
}

.text7 {
    font-family: "Proximanova", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.text7 {
    color: #2b2929;
    line-height: 1.875; /* 30/16 */
    letter-spacing: 0;
    text-transform: none;
}

