
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,400,500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Exo:regular,700);
@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500);
@import url("fonts.css"); 

@import url("reset.css");

body {
    font-family:"Quicksand",sans-serif;
    color: black;
    background-color: aliceblue;
}

.link {
    color: purple;
}
.link:hover {
    color: yellow; 
    text-decoration: underline;
}
.link1 {
    background-color: #8B3DFF;
    padding: 12px;
    font-weight: 700;
    line-height: 1.56; /* 25/16 */
    color: white;
    margin: 10px;
    border-radius: 8px;
}
.link1 span {
    display: inline-block;
    background: url(../img/favourite.svg) 0 0 no-repeat; 
    padding-left: 34px;
}
.link1:hover {
    background-color: #A875FF;
}
.link1:hover span {
    background-position: 5px 0 ;
}
.text {
    margin: 20px;
    background-color: cadetblue;
    padding: 20px;
    visibility: hidden;
}
.text:hover {
    background-color: burlywood;
}
.pages:hover .text {
    visibility: visible;
}
.link1:active {
    background-color: #7921ED;
}
.text:active { 
    background-color: chartreuse;
}
/* .link1:visited { 
    background-color: coral;
}*/
.link1:focus {
    outline: 2px dashed blue;
}
.show {
    color: crimson;
}
.show:hover {
    text-decoration: underline;
}
.text1 {
    padding: 30px;
}
.text1 p:first-child {
    background-color: coral;
}
.text2 {
    padding: 50px;
}
.text2 p:first-of-type {
    background-color: darkorange;
}
.text1 p:last-child {
    background-color: cornflowerblue;
}
.text2 p:last-of-type {
    background-color: green;
}
.text2 p:nth-child(3) {
    background-color: deeppink;
}
.text3 {
    padding: 80px;
}
.text3 p:nth-child(even) {
    background-color: #A875FF;
}
.text3 p:nth-child(odd) {
    background-color: aqua;
}
.text2 p:nth-child(5) {
    background-color: chartreuse;
}
.text4 {
    padding: 40px;
}
.text4 p:nth-child(2n+1) {
    background-color: lightslategrey;
}
.text4 p:not(:last-child) {
    margin-bottom: 20px;
}
.text1:has(span) {
    background-color: blue;
}
.article > * {
    margin-bottom: 15px;

}
.article > * :last-child {
    margin-bottom: 0px;
}
.title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;

}
.content {
    line-height: 1.2;
    margin-bottom: 15px;

}
.button {
    background-color: yellow;
    padding: 12px;
    border-radius: 5px;
    color: black;
}
.button:hover {
    background-color: rgb(72, 72, 17);
}
.block::before {
    content: "(";
}
.block::after {
    content: ")";
    margin-bottom: 20px;
}
.list {
    font-size: 12px;
}
.list_item:not(:last-child) {
    margin-bottom: 5px;
}
.list_item::before {
    content: "123";
    vertical-align: middle;
    background: url("../img/figma.png") 0 0 /100% no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.list_item:hover::before {
    opacity: 0.5;
}
.sub-title {
    font-family: "Exo",sans-serif;
    font-weight: 700; 
    font-size: 60px;
    text-transform: uppercase; 
    line-height: 1.16; /* 70/60 */
    display: inline-block; 
    margin-bottom: 30px;  
}
.sub-title::after {
    max-width: 90%;
    display: block;
    height: 2px;
    content: "";
    background: linear-gradient(90deg, rgba(219, 30, 19, 1) 1%, rgba(17, 190, 67, 0.5551470588235294) 47%, rgba(0, 9, 255, 1) 100%);
    margin-top: 20px;
}
.text5 {
    background-image: linear-gradient(-180deg, #000000e6 0, #000000fc 100%), linear-gradient(-180deg, #000000e6 0, #000000fc 100%);
    color: #fff;
    margin-bottom: 50px;
}
.sub-title1 {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1.16; /* 70/60 */
    padding-left: 345px;
    padding-right: 345px;
    padding-bottom: 20px; 
}
.sub-title1::after {
    content: "";
    height: 1px;
    margin: 0;
    display: block;
    max-width: 401px;
    max-height: 1px;
    background: linear-gradient(90deg, rgba(219, 30, 19, 1) 1%, rgba(87, 190, 17, 0.5551470588235294) 34%, rgba(0, 9, 255, 1) 90%);
}
.p {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.22; /* 40/18 */
    letter-spacing: -1px;
    max-width: 992px;
    text-align: center; 
    text-transform: capitalize;
    margin-bottom: 60px;
    padding-left: 60px;
}
.list1 {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25; /* 25/20 */
    text-transform: capitalize;
    display: inline-flex;   
}
.list_item1::after {
    background: url("../img/Ellipse.svg") 0 0 /100% no-repeat; 
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 60px;
    margin-left: 60px;     
}
.list2 {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1; /* 20/20 */
    background-image: linear-gradient(-180deg, #000000e6 0, #000000fc 100%), linear-gradient(-180deg, #000000e6 0, #000000fc 100%);
    color: #fff;
    letter-spacing: -1px; 
    display: inline-flex; 
    margin-bottom: 50px;
}
.list_item2::before {
    background: url("../img/Call.svg") 0 0 /100% no-repeat;
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.list_item3::before {
    background: url("../img/Location.svg") 0 0 /100% no-repeat;
    content: "";
    width: 20px;
    height: 19px;
    margin-right: 20px;
}
.list_item4::before {
    background: url("../img/Email.svg") 0 0 /100% no-repeat;
    content: "";
    width: 20px;
    height: 15px;
    margin-right: 20px;
}
.list_item2 {
    margin-right: 80px;
}
.list_item3 {
    margin-right: 80px;
    text-transform: capitalize;
}

.title-room {
    font-family: "Proximanova", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #2b2929;
    text-transform: none;
    line-height: 1.2;
    /* 48/40 */
    letter-spacing: 0;
    margin-bottom: 40px;
}

.text6 {
    font-family: "Proximanova", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #2b2929;
    text-align: left;
    line-height: 1.875;
    /* 30/16 */
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 40px;
    margin-top: 40px;
}

.text7 {
    font-family: "Proximanova", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #2b2929;
    text-align: left;
    letter-spacing: 0;
    line-height: 1.40;
    /* 28/20 */
    text-transform: none;
    margin-bottom: 30px;
}

.text8 {
    font-family: "Proximanova", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #2b2929;
    font-size: 16px;
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    line-height: 1.875;
    /* 30/16 */
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 50px;
}

.room {
    background-color: aliceblue;
    max-width: 1070px;
    margin: 0 auto;
}
.room > * {
    margin-bottom: 20px;
}
.room > *:last-child {
    margin-bottom: 0px;
}
.list_item5::before {
    background: url("../img/mark.jpg") 0 0 / 100% no-repeat;
    content: "";
    width: 32px;
    height: 32px;
    margin-right: 39px;
    vertical-align: middle;
}

.list3 {
    font-family: "Proximanova", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #2b2929;
    text-align: left;
    line-height: 1.875;
    /* 30/16 */
    margin-bottom: 10px;
    letter-spacing: 0;
    text-transform: none;
}
.list_item5 {
    margin-bottom: 40px;
}
.game {
    text-align: center;
    margin-bottom: 30px;
    background-color: #A875FF;   
}
.mouse {
    background-color: #A875FF;   
}
.mouse:hover {  
    background-color:#7921ED; 
}
.mouse:hover .mouse_line1:not(:hover){
    opacity: 0;
}
.mouse:hover .mouse_line2:not(:hover) {
    opacity: 0;
}
.mouse:hover .mouse_line3:not(:hover) {
    opacity: 0;
}
.mouse_line {
    height: 30px;
    width: 30px;
    background-color:crimson;
    
}
.mouse_line1 {
    width: 1100px;
    height: 30px;
    background-color: crimson;
    visibility: hidden;
}
.mouse_line2 {
    height: 30px;
    width: 30px;
    background-color: crimson;
    margin-left: 1070px;
    visibility: hidden;
}
.mouse_line3 {
    width: 1100px;
    height: 30px;
    background-color: crimson;
    visibility: hidden;
}
.mouse_line4 {
    height: 30px;
    width: 30px;
    background-color: crimson;
   
}
.mouse:hover .mouse_line1 {
    visibility: visible;
    
}
.mouse:hover .mouse_line2 { 
    visibility: visible;
}
.mouse:hover .mouse_line3 {
    visibility: visible;
}









 



   













